In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pprint import pprint
import requests
import json
import data_import
import country_converter as coco

In [2]:
rest_df = data_import.get_rest_countries()

In [3]:
cia_df = data_import.get_cia_data()

WARNING:root:World not found in regex
WARNING:root:Akrotiri not found in regex
WARNING:root:Arctic Ocean not found in regex
WARNING:root:Ashmore And Cartier Islands not found in regex
WARNING:root:Atlantic Ocean not found in regex
WARNING:root:Clipperton Island not found in regex
WARNING:root:Coral Sea Islands not found in regex
WARNING:root:Dhekelia not found in regex
WARNING:root:Indian Ocean not found in regex
WARNING:root:Jan Mayen not found in regex
WARNING:root:Navassa Island not found in regex
WARNING:root:Pacific Ocean not found in regex
WARNING:root:Paracel Islands not found in regex
WARNING:root:Southern Ocean not found in regex
WARNING:root:Spratly Islands not found in regex
WARNING:root:Virgin Islands not found in regex
WARNING:root:Wake Island not found in regex
WARNING:root:European Union not found in regex
WARNING:root:World not found in regex
WARNING:root:Akrotiri not found in regex
WARNING:root:Arctic Ocean not found in regex
WARNING:root:Ashmore And Cartier Islands not found in regex
WARNING:root:Atlantic Ocean not found in regex
WARNING:root:Clipperton Island not found in regex
WARNING:root:Coral Sea Islands not found in regex
WARNING:root:Dhekelia not found in regex
WARNING:root:Indian Ocean not found in regex
WARNING:root:Jan Mayen not found in regex
WARNING:root:Navassa Island not found in regex
WARNING:root:Pacific Ocean not found in regex
WARNING:root:Paracel Islands not found in regex
WARNING:root:Southern Ocean not found in regex
WARNING:root:Spratly Islands not found in regex
WARNING:root:Virgin Islands not found in regex
WARNING:root:Wake Island not found in regex
WARNING:root:European Union not found in regex

In [4]:
#check if country in rest_df is in cia_df

# in_cia = rest_df.assign(In_new_cia=rest_df.country.isin(new_cia.country).astype(int))

# list_cia = in_cia.loc[in_cia['In_new_cia'] == 0]

In [5]:
# in_rest = new_cia.assign(In_rest_df=new_cia.country.isin(rest_df.country).astype(int))

# list_rest= in_rest.loc[in_rest['In_rest_df'] == 0]

In [6]:
cia_df.head()

,country,population,internet_users,internet_%_of_population,internet_global_rank,telephones_fixed_lines,telephone_mobile_cellular,median_age,gdp_purchasing_power_parity,gdp_global_rank,education_expenditures,education_expeditures_global_rank,ISO3
0,World,7.503828e+09,3.174000e+09,43.0,NaN,984289950,7.806143e+09,30.6,1.278000e+14,NaN,NaN,NaN,World
1,Afghanistan,3.494084e+07,3.531770e+06,10.6,NaN,118769,2.392971e+07,19.0,6.945000e+10,101.0,3.9,111.0,AFG
3,Albania,3.057220e+06,2.016516e+06,66.4,110.0,247010,3.497950e+06,33.4,3.601000e+10,125.0,4.0,108.0,ALB
4,Algeria,4.165749e+07,1.729146e+07,42.9,36.0,3130090,4.987339e+07,28.3,6.300000e+11,36.0,NaN,NaN,DZA
5,American Samoa,5.082600e+04,1.700000e+04,31.3,205.0,10000,NaN,26.1,6.580000e+08,209.0,NaN,NaN,ASM

In [7]:
rest_df.loc[rest_df['ISO3'] == 'World']

    country   ISO3 region sub-region latitude longitude borders regional_bloc
250   World  World  World      World    World     World   World         World

In [8]:
merged_data = pd.merge(rest_df, cia_df, how = 'inner', on = 'ISO3')

In [9]:
merged_data.head()

,country_x,ISO3,region,sub-region,latitude,longitude,borders,regional_bloc,country_y,population,internet_users,internet_%_of_population,internet_global_rank,telephones_fixed_lines,telephone_mobile_cellular,median_age,gdp_purchasing_power_parity,gdp_global_rank,education_expenditures,education_expeditures_global_rank
0,Afghanistan,AFG,Asia,Southern Asia,33,65,"[IRN, PAK, TKM, UZB, TJK, CHN]",South Asian Association for Regional Cooperation,Afghanistan,34940837.0,3531770.0,10.6,NaN,118769,23929713.0,19.0,6.945000e+10,101.0,3.9,111.0
1,Albania,ALB,Europe,Southern Europe,41,20,"[MNE, GRC, MKD, KOS]",Central European Free Trade Agreement,Albania,3057220.0,2016516.0,66.4,110.0,247010,3497950.0,33.4,3.601000e+10,125.0,4.0,108.0
2,Algeria,DZA,Africa,Northern Africa,28,3,"[TUN, LBY, NER, ESH, MRT, MLI, MAR]",African Union,Algeria,41657488.0,17291463.0,42.9,36.0,3130090,49873389.0,28.3,6.300000e+11,36.0,NaN,NaN
3,American Samoa,ASM,Oceania,Polynesia,-14.3333,-170,[],None,American Samoa,50826.0,17000.0,31.3,205.0,10000,NaN,26.1,6.580000e+08,209.0,NaN,NaN
4,Andorra,AND,Europe,Southern Europe,42.5,1.5,"[FRA, ESP]",None,Andorra,85708.0,83887.0,97.9,177.0,38411,80337.0,44.9,3.327000e+09,186.0,3.2,132.0

In [10]:
merged_data = merged_data[['ISO3', 'country_y', 'region', 'sub-region', 'latitude', 'longitude', 'borders', 'population', 'internet_users', 'internet_%_of_population', 'median_age', 'education_expenditures']]

In [11]:
merged_data.head()

,ISO3,country_y,region,sub-region,latitude,longitude,borders,population,internet_users,internet_%_of_population,median_age,education_expenditures
0,AFG,Afghanistan,Asia,Southern Asia,33,65,"[IRN, PAK, TKM, UZB, TJK, CHN]",34940837.0,3531770.0,10.6,19.0,3.9
1,ALB,Albania,Europe,Southern Europe,41,20,"[MNE, GRC, MKD, KOS]",3057220.0,2016516.0,66.4,33.4,4.0
2,DZA,Algeria,Africa,Northern Africa,28,3,"[TUN, LBY, NER, ESH, MRT, MLI, MAR]",41657488.0,17291463.0,42.9,28.3,NaN
3,ASM,American Samoa,Oceania,Polynesia,-14.3333,-170,[],50826.0,17000.0,31.3,26.1,NaN
4,AND,Andorra,Europe,Southern Europe,42.5,1.5,"[FRA, ESP]",85708.0,83887.0,97.9,44.9,3.2

In [13]:
merged_data.to_csv("new_merged.csv")

<h1> Josh's Workspace </h1>

In [ ]:
pop_low = merged_data["population"].quantile(0.1)
pop_hi  = merged_data["population"].quantile(0.90)
edu_low = merged_data['education_expenditures'].quantile(0.01)
edu_hi = merged_data['education_expenditures'].quantile(0.99)


df_filtered = merged_data[(merged_data["population"] < pop_hi) & (merged_data["population"] > pop_low) & (merged_data['education_expenditures'] > edu_low) & (merged_data['education_expenditures'] < edu_hi)]

In [ ]:
z = np.polyfit(df_filtered['internet_%_of_population'], df_filtered['education_expenditures'], 1)
p = np.poly1d(z)

plt.plot(df_filtered['internet_%_of_population'],p(df_filtered['internet_%_of_population']),"r--")
plt.scatter(df_filtered['internet_%_of_population'], df_filtered['education_expenditures'], alpha = .6)
plt.xlabel('Percent of Internet Usage')
plt.ylabel('Education Expenditures (GDP %)')

plt.show()

In [ ]:
sub_df = df_filtered[['sub-region', 'internet_%_of_population', 'median_age', 'education_expenditures']]

In [ ]:
sub_df = sub_df.groupby('sub-region').mean()

In [ ]:
sub_df.head()

In [ ]:
# gmaps.configure(api_key = api_keys.google_key)

In [ ]:
# countries_geojson = gmaps.geojson_geometries.load_geometry('countries')

# fig = gmaps.figure()

# gini_layer = gmaps.geojson_layer(countries_geojson)
# fig.add_layer(gini_layer)
# fig

In [ ]:
# pprint(countries_geojson['features'][0]['properties'])

In [ ]:
# len(countries_geojson['features'])

<h1>Daniela's Workspace</h1>

In [ ]:
world = new_cia.iloc[[0]]
world

In [ ]:
#plot World Population versus Internet Users

world = world[['population', 'internet_users']]
                        
world.plot(kind='bar',
           colormap='winter',
          sharex=True,
          )
plt.title("World Population versus Internet Users in 2016 ",fontsize= 20)
plt.ylabel("Population", fontsize=14)
plt.xlabel()
plt.legend(['Population', "Internet Users"])

plt.show()

In [ ]:
# Population versus Internet users by area
per_sub_area = (merged_data[['region', 'population', 'internet_users']]).groupby(['region']).sum()

#plot
per_sub_area.plot(kind="bar",
                  colormap='winter',
                  figsize=(10,8)
                 )              
                      
plt.title('Population versus Internet Users by Area in 2016', fontsize=20)
plt.ylabel("Population", fontsize=14)
plt.xlabel('')
plt.legend(['Population', "Internet Users"]);
plt.xticks(rotation =30,fontsize =14)

plt.show()

In [ ]:
per_sub_area

In [ ]:
# What countries have almost 100% of their population using the Internet?


top_perc_internet_population = merged_data[['country', 'internet_%_of_population']]\
                            .sort_values(by=['internet_%_of_population'], ascending=False)\
                            .head(10)\
                            .sort_values(by=['internet_%_of_population'], ascending=True)\
                           .set_index('country')
                            

top_perc_internet_population.plot(kind='barh',
                                 use_index='True',
                                 legend=False,
                                 colormap='winter'
                             )

plt.title("Top 10 Countries That Almost Everybody Uses Internet in 2016 ", fontsize=20)
plt.xlabel('% of Population Using the Internet', fontsize=14)

plt.show()

In [ ]:
rr = merged_data.max(level='internet_%_of_population')

In [ ]:
# # check top population, internet_users, gdp and education

# top_population = merged_data[['country','population', 'median_age']]\
#                             .sort_values(by=['population'],ascending=False)\
#                             .head(25)

# top_internet = merged_data[['country', 'internet_users']]\
#                             .sort_values(by=['internet_users'], ascending=False)\
#                             .head(20)\
#                             .set_index('country')

# top_gdp = merged_data[['country', 'gdp_global_rank']]\
#                             .sort_values(by=['gdp_global_rank'], ascending=True)\
#                             .head(10)

# top_education = merged_data[['country', 'education_expenditures']]\
#                             .sort_values(by=['education_expenditures'], ascending=False)\
#                             .head(25)

In [ ]:
# What countries have the lowest Internet penetration rate in 2016?

less_perc_internet_population = merged_data[['country', 'internet_%_of_population']]\
                            .sort_values(by=['internet_%_of_population'], ascending=True)\
                            .head(10)\
                            .set_index('country')


less_perc_internet_population.plot(kind='barh')

plt.title("Top 10 Countries With Lowest Internet Penetration Rate in 2016", fontsize=20)
plt.xlabel('% of Population Using the Internet', fontsize=14)

plt.show()

<h1>Cesar's Workspace</h1>

<h1>Claudia's Workspace</h1>