In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
from pprint import pprint
import requests
import json
import data_import

In [2]:
rest_df = data_import.get_rest_countries()

In [5]:
cia_df = data_import.get_cia_data()

In [24]:
rest_countries = rest_df["Country"].tolist()

In [25]:
cia_countries = cia_df["Country"].tolist()

In [26]:
common_countries = []
for i in cia_countries:
    if i in rest_countries:
        common_countries.append(i)

In [32]:
pd.merge(rest_df, cia_df, how = 'inner', on = 'Country')

,Country,Alpha3 Code,Capital,Region,Sub-Region,Population_x,Latitutde,Longitude,Area,Timezone,...,Internet Global Rank,Telephones Fixed Lines,Telephones Fixed Lines Global Rank,Telephone Mobile Cellular,Telephone Mobile Cellular Global Rank,Median_age,GDP - Purchasing power parity,GDP - Global Rank,Education Expenditures,Education Expeditures - Global Rank
0,Afghanistan,AFG,Kabul,Asia,Southern Asia,27657145,33.000000,65.0,652230.0,UTC+04:30,...,NaN,118769,138.0,23929713.0,52.0,19.0,6.945000e+10,101.0,3.9,111.0
1,Albania,ALB,Tirana,Europe,Southern Europe,2886026,41.000000,20.0,28748.0,UTC+01:00,...,110.0,247010,122.0,3497950.0,134.0,33.4,3.601000e+10,125.0,4.0,108.0
2,Algeria,DZA,Algiers,Africa,Northern Africa,40400000,28.000000,3.0,2381741.0,UTC+01:00,...,36.0,3130090,45.0,49873389.0,29.0,28.3,6.300000e+11,36.0,NaN,NaN
3,American Samoa,ASM,Pago Pago,Oceania,Polynesia,57100,-14.333333,-170.0,199.0,UTC-11:00,...,205.0,10000,196.0,NaN,NaN,26.1,6.580000e+08,209.0,NaN,NaN
4,Andorra,AND,Andorra la Vella,Europe,Southern Europe,78014,42.500000,1.5,468.0,UTC+01:00,...,177.0,38411,161.0,80337.0,193.0,44.9,3.327000e+09,186.0,3.2,132.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Vanuatu,VUT,Port Vila,Oceania,Melanesia,277500,-16.000000,167.0,12189.0,UTC+11:00,...,181.0,3499,207.0,228016.0,180.0,22.3,7.720000e+08,207.0,4.7,81.0
187,Western Sahara,ESH,El Aaiún,Africa,Northern Africa,510713,24.500000,-13.0,266000.0,UTC+00:00,...,NaN,NaN,NaN,NaN,NaN,21.5,9.065000e+08,205.0,NaN,NaN
188,Yemen,YEM,Sana'a,Asia,Western Asia,27478000,15.000000,48.0,527968.0,UTC+03:00,...,62.0,1165828,72.0,16433055.0,63.0,19.8,7.363000e+10,97.0,NaN,NaN
189,Zambia,ZMB,Lusaka,Africa,Eastern Africa,15933883,-15.000000,30.0,752612.0,UTC+02:00,...,88.0,101444,141.0,13438539.0,70.0,16.8,6.893000e+10,102.0,NaN,NaN
190,Zimbabwe,ZWE,Harare,Africa,Eastern Africa,14240168,-20.000000,30.0,390757.0,UTC+02:00,...,92.0,264150,119.0,14092104.0,68.0,20.2,3.427000e+10,127.0,7.5,10.0