In [232]:
%reload_ext blackcellmagic
import pandas as pd
import numpy as np
import os
import pprint as pp
import matplotlib.pyplot as plt

In [233]:
def get_var(df, var):
     return df[df['VAR'] == var]

    
def fix_time(time_list):
    for i in time_list:
        i = str(i)
        if i.startswith('Q2-'):
            index = time_list.index(i)
            q2 = i.replace('Q2-', '')
            q2 = int(q2)
            time_list.pop(index)
            time_list.insert(q2, index)
        elif i.startswith('Q4-'):
            index = time_list.index(i)
            q4 = i.replace('Q4-', '')
            q4 = int(q4)
            time_list.pop(index)
            time_list.insert(q2, index)
    return time_list

In [234]:
path = os.path.join('OECD_data', 'broadband.csv')

with open(path) as csv_file:
    og_broadband_df = pd.read_csv(csv_file)
og_bb_df = og_broadband_df[['Country', 'VAR', 'Time', 'Value', 'Unit']]

In [235]:
path = os.path.join('OECD_data', 'mean2median_wealth.csv')

with open(path) as csv_file:
    wealth_dist = pd.read_csv(csv_file)
wealth_dist

,"ï»¿""COUNTRY""",Country,VAR,Variable,POPULATION,Population,TIME,Time,Value,Flag Codes,Flags
0,AUS,Australia,T3AC2,Mean financial assets per household (current p...,TP,Total Population,2012,2012,1.398700e+05,NaN,NaN
1,AUS,Australia,T3AC2,Mean financial assets per household (current p...,TP,Total Population,2014,2014,1.640580e+05,NaN,NaN
2,AUS,Australia,T3AC3,Mean liabilities per household (current prices),TP,Total Population,2012,2012,1.300920e+05,NaN,NaN
3,AUS,Australia,T3AC3,Mean liabilities per household (current prices),TP,Total Population,2014,2014,1.449160e+05,NaN,NaN
4,AUS,Australia,T1C5,Mean net wealth per household (current prices),TP,Total Population,2012,2012,5.958200e+05,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
875,JPN,Japan,T6C7,Share of individuals with eq. net wealth <50 %...,TP,Total Population,2014,2014,1.166000e+01,NaN,NaN
876,JPN,Japan,ST1,Share of top 1% of wealth,TP,Total Population,2014,2014,1.076630e+01,NaN,NaN
877,JPN,Japan,ST10,Share of top 10% of wealth,TP,Total Population,2014,2014,4.101643e+01,NaN,NaN
878,JPN,Japan,ST5,Share of top 5% of wealth,TP,Total Population,2014,2014,2.769113e+01,NaN,NaN
879,JPN,Japan,T3AC2,Mean financial assets per household (current p...,TP,Total Population,2014,2014,1.458300e+07,NaN,NaN

In [236]:
path = os.path.join('OECD_data', 'GERDasGDPpercent_OECD2000_19.csv')

with open(path) as csv_file:
    GERD = pd.read_csv(csv_file)
GERD

,"ï»¿""MSTI_VAR""",MSTI Variables,COU,Country,YEAR,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2000,2000,USD,US Dollar,6,Millions,NaN,NaN,7945.232832,NaN,NaN
1,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2002,2002,USD,US Dollar,6,Millions,NaN,NaN,9885.297640,NaN,NaN
2,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2004,2004,USD,US Dollar,6,Millions,NaN,NaN,11693.726261,NaN,NaN
3,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2006,2006,USD,US Dollar,6,Millions,NaN,NaN,15518.858801,NaN,NaN
4,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2008,2008,USD,US Dollar,6,Millions,NaN,NaN,19133.001192,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96222,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2014,2014,NaN,NaN,0,Units,NaN,NaN,300247.402799,e,Estimated value
96223,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2015,2015,NaN,NaN,0,Units,NaN,NaN,300722.721546,e,Estimated value
96224,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2016,2016,NaN,NaN,0,Units,NaN,NaN,310513.897209,e,Estimated value
96225,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2017,2017,NaN,NaN,0,Units,NaN,NaN,313478.766418,e,Estimated value
96226,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2018,2018,NaN,NaN,0,Units,NaN,NaN,320103.643255,e,Estimated value

In [241]:
path = os.path.join('OECD_data', 'OECD_FTER&D_2000_19.csv')

with open(path) as csv_file:
    fte_rd = pd.read_csv(csv_file)
fte_rd
## merge dataframes and experiment mergin by year in wealth distribution

,"ï»¿""MSTI_VAR""",MSTI Variables,COU,Country,YEAR,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2000,2000,USD,US Dollar,6,Millions,NaN,NaN,7945.232832,NaN,NaN
1,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2002,2002,USD,US Dollar,6,Millions,NaN,NaN,9885.297640,NaN,NaN
2,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2004,2004,USD,US Dollar,6,Millions,NaN,NaN,11693.726261,NaN,NaN
3,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2006,2006,USD,US Dollar,6,Millions,NaN,NaN,15518.858801,NaN,NaN
4,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2008,2008,USD,US Dollar,6,Millions,NaN,NaN,19133.001192,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96222,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2014,2014,NaN,NaN,0,Units,NaN,NaN,300247.402799,e,Estimated value
96223,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2015,2015,NaN,NaN,0,Units,NaN,NaN,300722.721546,e,Estimated value
96224,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2016,2016,NaN,NaN,0,Units,NaN,NaN,310513.897209,e,Estimated value
96225,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2017,2017,NaN,NaN,0,Units,NaN,NaN,313478.766418,e,Estimated value
96226,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2018,2018,NaN,NaN,0,Units,NaN,NaN,320103.643255,e,Estimated value

In [240]:
path = os.path.join('OECD_data', 'OECD_patentinfo_1999_2017.csv')

with open(path) as csv_file:
    patent_df = pd.read_csv(csv_file)
patent_df

,"ï»¿""KINDPATENT""",Patent office,KINDCOOP,Type of International Cooperation in Patenting,LOCATION,Country,PARTNER,Partner Country,KINDDATE,Reference Date,...,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,1999,NBR,Number,0,Units,NaN,NaN,1123.0000,NaN,NaN
1,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2000,NBR,Number,0,Units,NaN,NaN,1159.0000,NaN,NaN
2,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2001,NBR,Number,0,Units,NaN,NaN,1117.0000,NaN,NaN
3,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2002,NBR,Number,0,Units,NaN,NaN,1191.0000,NaN,NaN
4,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2003,NBR,Number,0,Units,NaN,NaN,1237.0000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18934,USPTO_A,Patent applications to the USPTO,FOR_INV_S,% of patents invented abroad,WLD,World,EU28,European Union (28 countries),APPLICATION,Application date,...,2012,PC,Percentage,0,Units,NaN,NaN,6.8824,NaN,NaN
18935,USPTO_A,Patent applications to the USPTO,FOR_INV_S,% of patents invented abroad,WLD,World,EU28,European Union (28 countries),APPLICATION,Application date,...,2013,PC,Percentage,0,Units,NaN,NaN,6.5700,NaN,NaN
18936,USPTO_A,Patent applications to the USPTO,FOR_INV_S,% of patents invented abroad,WLD,World,EU28,European Union (28 countries),APPLICATION,Application date,...,2014,PC,Percentage,0,Units,NaN,NaN,6.4334,NaN,NaN
18937,USPTO_A,Patent applications to the USPTO,FOR_INV_S,% of patents invented abroad,WLD,World,EU28,European Union (28 countries),APPLICATION,Application date,...,2015,PC,Percentage,0,Units,NaN,NaN,6.4728,NaN,NaN
18938,USPTO_A,Patent applications to the USPTO,FOR_INV_S,% of patents invented abroad,WLD,World,EU28,European Union (28 countries),APPLICATION,Application date,...,2016,PC,Percentage,0,Units,NaN,NaN,6.2667,NaN,NaN

In [239]:
path = os.path.join('OECD_data', 'researchers_annual_growth.csv')

with open(path) as csv_file:
    research_df = pd.read_csv(csv_file)
research_df

,"ï»¿""MSTI_VAR""",MSTI Variables,COU,Country,YEAR,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2000,2000,USD,US Dollar,6,Millions,NaN,NaN,7945.232832,NaN,NaN
1,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2002,2002,USD,US Dollar,6,Millions,NaN,NaN,9885.297640,NaN,NaN
2,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2004,2004,USD,US Dollar,6,Millions,NaN,NaN,11693.726261,NaN,NaN
3,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2006,2006,USD,US Dollar,6,Millions,NaN,NaN,15518.858801,NaN,NaN
4,G_PPP,Gross Domestic Expenditure on R&D (GERD) at cu...,AUS,Australia,2008,2008,USD,US Dollar,6,Millions,NaN,NaN,19133.001192,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96222,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2014,2014,NaN,NaN,0,Units,NaN,NaN,300247.402799,e,Estimated value
96223,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2015,2015,NaN,NaN,0,Units,NaN,NaN,300722.721546,e,Estimated value
96224,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2016,2016,NaN,NaN,0,Units,NaN,NaN,310513.897209,e,Estimated value
96225,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2017,2017,NaN,NaN,0,Units,NaN,NaN,313478.766418,e,Estimated value
96226,C_PPPCT,Total GBARD at constant prices and PPP $,OECD,OECD - Total,2018,2018,NaN,NaN,0,Units,NaN,NaN,320103.643255,e,Estimated value

In [ ]:
## merge dataframes and experiment mergin by year in wealth distribution